<p>
<h3 id="r-rstudio-setup">R & RStudio Setup</h3>
R & RStudio installation instructions borrowed and modified from 
<a href="http://software-carpentry.org/" target="_blank"> Software Carpentry</a>.

<h4 id="R-windows">Windows R & RStudio Setup</h4>
<ul>
<li> <a href="http://cran.r-project.org/bin/windows/base/release.htm" target="_blank">Download R for Windows here</a></li>
<li> Run the .exe file that was just downloaded</li>
<li> <a href="http://www.rstudio.com/ide/download/desktop" target="_blank">Go to the RStudio Download page</a></li>
<li> Under <i>Installers</i> select <b>RStudio <i>current version ##</i> - Windows XP/Vista/7/8</b></li>
<li> Double click the file to install it</li>
</ul>

Once R and RStudio are installed, open RStudio to make sure it works and
that you don't get any error messages.

<h4 id="R-mac"> Mac OS X R & RStudio Setup</h4>
  
<ul>
<li>Go to <a href="http://cran.r-project.org" target="_blank">CRAN</a> and click
on <i>Download R for (Mac) OS X</i></li>
<li>Select the .pkg file for the version of OS X that you have and the file
will download.</li>
<li>Double click on the file that was downloaded and R will install</li>
<li>Go to the <a href="http://www.rstudio.com/ide/download/desktop" target="_blank">RStudio Download page</a></li>
<li>Under <i>Installers</i> select <b>RStudio <i>current version ##</i> - Mac OS X 10.6+ (64-bit)</b> to download it.</li>
<li>Once it's downloaded, double click the file to install it. </li>
</ul>

Once R and RStudio are installed, open RStudio to make sure it works and you
don't get any error messages.


<h4 id="R-linux"> Linux R & RStudio Setup</h4>


R is available through most Linux package managers. 
You can download the binary files for your distribution from 
<a href="http://cran.r-project.org/index.html" target="_blank">CRAN</a>. 
Or you can use your package manager (e.g. 
for Debian/Ubuntu run <code>sudo apt-get install r-base</code> and 
for Fedora run <code>sudo yum install R</code>). </li>
<ul>
<li>To install RStudio, go to the
<a href="http://www.rstudio.com/ide/download/desktop" target="_blank">RStudio Download page</a></li>
<li>Under <i>Installers</i> select the version for your distribution.</li>
<li>Once it's downloaded, double click the file to install it. </li>
</ul>

Once R and RStudio are installed, open RStudio to make sure it works and you 
don't get any error messages.

</p>